*{
    padding: 0px;
    margin: 0px;
}

.container-form{
    padding: 2rem;
}
.table-wrap{
    padding: 2rem;
}
.fondo-back{
    background: linear-gradient(to right, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(https://cdn.pixabay.com/photo/2021/01/20/08/50/brainstorm-5933480_960_720.jpg);
}

