*{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-container{
    display: flex;
    flex-direction:row;
    margin-bottom: 50px;
    margin-top: 4rem;

    Button{
        height: 40px;
        width: 120px;
        margin-left: 10px;
        margin-top: 1rem;
        text-align: center;
    }
}
.ideas-list{
    display: flex;
    flex-direction:row;
    border: 1px black solid;
    padding: 10px;

    
}
.content{
        display: flex;
        flex-direction: col;
        margin-left: 15rem;
        align-content: center;
        margin-bottom: 25px;
        

    }
.text-space{
    margin-right: 5rem;
}

.fondo{
    background: linear-gradient(to right, rgba(255,255,255,0) 20%,
    rgba(255,255,255,1)), url(https://cdn.pixabay.com/photo/2021/01/20/08/50/brainstorm-5933480_960_720.jpg);
}
